.App {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 10px;
  &-sideBar {
   width: 20%;
    border: 2px solid #0d0f1c;
    box-shadow: 0px 0px 4px #000;
    padding: 15px;
    background: #ececec;
  }
  &-content {
    width: 70%;

  }
}